<% if activity_resources_exist?(activity) && activity.trackable.followable %>
  <div id="activity-<%= activity.id %>">
    <div class="activity-follow">
      <div class="follower">
          <div id="movements">
            <h5>
              <div class="row">
                <div class="col-md-3">
                  <%= render 'shared/avatar', user: activity.owner %>
                </div>
                <div class="col-md-9">
                  <%= link_to activity.owner.name, user_path(activity.owner) %>, 
                  <%= link_to activity.trackable.followable.name, user_path(activity.trackable.followable) %>
                  'ı takip etti.
                </div>
               </div>
            </h5>
          </div>
      </div>
    </div>
  </div>
<% end %>


