<div class="container">
    <div class="row" id="ustbosluk">
      <div class="col-lg-4">
        <%= render 'userbox' %>
      </div>
      <div class="col-lg-8">
        <div class="middlearea">
      	<h1>İletişim</h1>
      		<div class="category">
      		  <i class="fa fa-graduation-cap fa-2x" id="icon-position" aria-hidden="true"></i>
      			<h3 class="cattitle">İletişim Bilgilerim</h3>
        			<div class="catcontent2">
               <br><h5> <i class="fa fa-map-marker"></i>  Konum : <%=@user.location%></h5>
        				<br><h5><i class="fa fa-phone"></i> Telefon:  <%=@user.phone_number%></h5>

        			</div>
      
      			<br id="BR_18" />
      		</div>
      	</div>
    </div>
  </div>
  <br>