<div class="container">
    <div class="row" id="ustbosluk">
      <div class="col-lg-4">
        <%= render 'userbox' %>
      </div>
      <div class="col-lg-8">
        <div id="cerceve">
        	<div id="DIV_2">
        		<div id="DIV_8" style="margin-top: 0px;">
        		<h3><strong>  Yabancı Dil Ekle </strong></h3>
        		</div>
        		<div id="DIV_12">
                   <%= render 'yabancidils/form' %>
                <hr class="hrline2" /><br>
                <h5>Mevcut  Yabancı Dil Bilgileriniz</h5>
                   <section id="yabancidils" data-channel="yabancidils" >
                   <%= render @user.yabancidils %>
                </section>
        		</div>
        	</div>
        </div>
      </div>  
    </div>
  </div>
  <br>