<div class="container">
    <!----------- Footer ------------>
    <footer class="footer-bs">
        <div class="row">
        	<div class="col-md-4 footer-brand animated fadeInLeft">
            	<img src="https://resmim.net/f/CdsVLr.png" id="fimgs"></img>

                <p><br>© 2018 Fırat Üniversitesi <br>Teknoloji Fakültesi Yazılım Mühendisliği Mezun Bilgi Sistemi</p>
            </div>
        	<div class="col-md-4 footer-nav animated fadeInUp">
            	<h4>LINKLER —</h4>
            	<div class="col-md-8">
                    <ul class="list">
                        <li><a href="http://yeni.firat.edu.tr/content/akademik-takvim">Akademik Takvim</a></li>
                        <li><a href="https://obs.firat.edu.tr/">Öğrenci İşleri Otomasyonu</a></li>
                        <li><a href="https://indir.firat.edu.tr/">İndir Fırat</a></li>
                        <li><a href="http://kutuphane.db.firat.edu.tr/">Kütüphane Otomasyonu</a></li>
                        <li><a href="http://www.firatteknokent.com.tr/">Fırat Teknokent</a></li>
                    </ul>
                </div>
            	<div class="col-md-3">
                    <ul class="list">
                        <li><a href="#">Hakkımızda</a></li>
                        <li><a href="#">İletişim</a></li>
                        <li><a href="#">S.S.S</a></li>
                        <li><a href="#">Gizlilik</a></li>
                    </ul>
                </div>
            </div>
        	<div class="col-md-3 footer-ns animated fadeInRight">
            	<h4>Sosyal Medya</h4>
                <a href="https://facebook.com/firatedutr"><i id="social-fb" class="fa fa-facebook fa-3x social"></i></a>
	            <a href="https://twitter.com/firatedutr"><i id="social-tw" class="fa fa-twitter-square fa-3x social"></i></a>
	            <a href="https://google.com/firatedutr"><i id="social-gp" class="fa fa-google-plus-square fa-3x social"></i></a>
	            <a href="https://mail.firat.edu.tr/"><i id="social-em" class="fa fa-envelope-square fa-3x social"></i></a>
            </div>
        </div>
    </footer>
 
</div>