<div class="search-area-wrapper">
     <div class="search-area container">
        <h3 class="search-header">Fırat Üniversitesi Teknoloji Fakültesi<br>Yazılım Mühendisliği Mezun Öğrenci Sistemi</h3>
        <p class="search-tag-line">Bilimin Parlayan Yıldızı...</p>
     </div>  
</div>