<%= render 'shared/wrapper' %>
<br>

 <div class="container breadcrumb-sektion ">
  <ol class="breadcrumb">
    <li><a href="/">Anasayfa</a></li>
    <li class="active">Hakkımızda</li>        
  </ol>
</div>
<br>
<div class="container white">
        <div id="user-info" class="well">
                <center><p class="lead">Genel Bilgi</p></center><hr>
                <a name="1"></a><h1><p class="lead">1. Bölümün Amacı:</p></h1>
                <ul>
                    <li>
                        <p>Kullanıcı ihtiyaçlarını analiz ederek, uygun çözümler üretebilmek,</p>
                    </li>
                    <li>
                        <p>Kullanıcının belirlediği fakat genelde sürtüşmelere yol açan zaman, maliyet, kullanılabilirlik gibi noktalarda uzlaşma sağlayabilmek,</p>
                    </li>
                    <li>
                        <p>Mühendislik yaklaşımlarını kullanırken etik, sosyal, yasal ve ekonomik ilgileri bütünleştirecek uygun çözümleri tasarlayabilmek,</p>
                    </li>
                    <li>
                        <p>Yazılım tasarımı, geliştirilmesi, gerçekleştirimi ve doğrulanması için temel sağlayan mevcut teorileri, modelleri ve teknikleri anlamak ve uygulayabilmek,</p>
                    </li>
                    <li>
                        <p>Yazılım geliştirme ortamında etkin olarak çalışmak, gerekli olduğunda liderlik yapabilmek ve kullanıcılarla iyi iletişim kurabilmek yani proje yönetimi becerisine sahip olmak,</p>
                    </li>
                    <li>
                        <p>İlgili alanlardaki gelişmeleri takip edip, uygulayabilmek gibi yetenekler kazanması amaçlanmaktadır.</p>
                    </li>
                </ul>
                
                <br><br>
                <a name="2"></a><h1><p class="lead">2. Yazılım Mühendisliğinin Yeri:</p></h1>
                <ul>
                    <li>
                        <p>Yazılım mühendisi, bankacılık, otomotiv, telekomünikasyon vb. sektörler olmak üzere her alanda kullanılan bilgisayar sistemlerinin, 
                        yazılım tasarımını hazırlayan ve sisteme entegre edip uygulamasını yapan kişidir. Bir yazılım mühendisi, hazırlanacak yazılım ile ilgili müşteri ilişkilerini kurar, 
                        müşterilerden aldığı bilgiler doğrultusunda analiz yapar, tasarım yapar, program yazar, programı test eder, yazdığı programda eksiklik varsa düzeltir, 
                        yazılımı sorunsuz şekilde çalışır hale getirdikten sonra, gerekli durumlarda kullanım yönergesini hazırlayarak, kullanıcıların eğitilmesini sağlar, 
                        mesleği ile ilgili gelişmeleri takip eder. Yazılım mühendisliği alanında akademik ve teknolojik çalışmalar yapmak için çeşitli alet, araç ve gereçlere ihtiyaç vardır. 
                        Bu araçlar, bilgisayar, bilgisayar programlama dilleri, yazılım geliştirme programları, yazıcı, tarayıcı, yazılım mühendisliği alanında uluslararası kural ve uygulamalarla ilgili çeşitli doküman, kitaplar, kalite standartları v.b. 
                        Yazılım mühendisiliği alanında akademik ve teknolojik çalışma yapmak isteyenlerin; üst düzeyde genel yeteneğe sahip, mantık yürütme ve tasarım yeteneği olan, fen ve matematik alanlarına ilgi duyan,
                        bildiklerini başkalarına aktarabilme ve etkileme (ikna) yeteneği olan,  dikkatli, sabırlı, ekip çalışmasına yatkın, yeni fikirlere açık, kendisini sürekli geliştirebilen kimseler olması gerekir. 
                        Yazılım ve bilgi teknolojileri mimarisi alanında yapılan araştırmalar; veritabanları, veritabanı programcılığı, yazılım proje yönetimi, ölçümü ve testi gibi konuları ele almaktadır. 
                        Web ve oyun programlama alanında yapılan araştırmalar web programlama, bilgisayarda grafik ve animasyon geliştirme, 
                        insan bilgisayar etkileşimi ve elektronik ve uzaktan öğrenme ortamlarının tasarımı ve geliştirilmesi konularına odaklanmaktadır.
                        Veri amdenciliği alanında yapılan araştırmalar arasında veri ambarlarının ve çok büyük veri tabanlarının sorgulanabilmesi, 
                        bulanık mantık kullanarak verilerin segmentasyonu, kümelenmesi, kestirimi ve tahmininin yapılması gibi modelleme çalışmalarını içermektedir.</p>
                    </li>
                 </ul>
                 
                <br><br>
                <a name="3"></a><h1><p class="lead">4. Mezun Olabilmek İçin Gerekli Koşullar:</p></h1>
                <ul>
                    <li>
                         <p>Eğitim-Öğretim süresi, 4 yıl veya 8 yarıyıldır. Bu süre içerisinde toplam 150 kredilik dersin yani en az 240 AKTS ‘nin başarıyla sağlanması gerekmektedir. 
                         8 yarıyıllık eğitim-öğretim sürecinde öğrenci, 7. yarıyılda İşyeri Eğitimi 6 ay süresince (15 Temmuz – 15 Ocak) görecektir.
                         Yine bu süre içerisinde öğrenciler 1 adet (20 iş günü) alan stajı ve 1 adet (20 iş günü ) işletme organizasyon stajı yapacaklardır. 
                         Öğrencilerin yazılım mühendisliği alanında uzmanlaşmasının sağlanması için, 6. yarıyılda başlayan ve 8. yarıyılda devam eden seçmeli dersler de bulunmaktadır.</p>
                    </li>
                 </ul>
                 
                <br><br>
                <a name="4"></a><h1><p class="lead">5. Staj Çalışmaları:</p></h1>
                <ul>
                        <p>Öğrencilerin öğrenimleri esnasındaki kazanımlarının, laboratuar uygulamaları ve gerçek iş yeri uygulamaları ile pekiştirilmesi için yapılan bir eğitimi tamamlama faaliyeti olarak staj yapmaları gerekmektedir. 
                        Staj uygulamalarında mesleki alan dışında, iş yeri görgüsü - disiplini v.b. kazanımların da elde edilmesi beklenmektedir.
                        Öğrenciler, teknolojik gelişmeleri tanımaları, uygulama becerilerini geliştirmeleri ve yönetim deneyimini kazanmaları amacıyla, uygun görülen tesis, fabrika veya yazılım şirketlerin
                        ilgili birimlerinde; 1 adet (20 iş günü) alan stajı ve 1 adet (20 iş günü ) işletme organizasyon stajı olmak üzere 40 iş günü staj yapacaklardır.</p>
                </ul>
                
                <br><br>
        </div>
</div>     
 