// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#newsfeed > h4 {
  text-align: center;
  padding: 10px;
}

#intro {
  margin-top: 125px;
  padding: 10px 50px;
  text-align: center;
  h1 {
    color: $navbar-color;
    font-weight: 300 !important;
  }

  p {
    font-size: 1.65rem;
    line-height: 3rem;
  }
}

#img-preview {
  padding: 5px;
  display: inline-block;
  border: 1px solid $border-color;
  img {
    width: 35px;
    height: 35px;
  }
}

.search-area-wrapper {
    background: #005daa url(http://www.uky.edu/publichealth/sites/www.uky.edu.publichealth/files/default_images/background_home.jpg);
    background-size: contain;
    min-height: 350px;
    height: auto !important;
}
h3.search-header {
    font-weight: normal;
    padding: 0;
    color: #fff;
    margin-top: 100px;
    font-size: 32px;
    line-height: 1.2;
    text-align: center;
}
p.search-tag-line {
    font-size: 16px;
    color: #ddd;
    margin-bottom: 35px;
    text-align: center;
}


//home/Carousel

#myCarousel .carousel-caption {
  left:0;
	right:0;
	bottom:0;
	text-align:left;
	padding:10px;
	background:rgba(0,0,0,0.6);
	text-shadow:none;
}

#myCarousel .list-group {
	position:absolute;
	top:0;
	right:0;
}
#myCarousel .list-group-item {
	border-radius:0px;
	cursor:pointer;
}
#myCarousel .list-group .active {
	background-color:#eee;	
}

@media (min-width: 992px) { 
	#myCarousel {padding-right:33.3333%;}
	#myCarousel .carousel-controls {display:none;} 	
}
@media (max-width: 991px) { 
	.carousel-caption p,
	#myCarousel .list-group {display:none;} 
}

//home/cv
.image-block{float:left; width:100%; margin-bottom:10px;}
.lead {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 300;
    line-height: 1.4;
    color: #31708f;
  
}
.panel-info {
    border-color: #bce8f1;
}
.panel-info > .panel-heading {
    color: #f1f1f1;
    background-color: #31708f;
    border-color: #bce8f1;
}
#fixed {
    position: fixed;
    bottom: 0;
    right: 0;
    width: 300px;
}

.breadcrumb {
    padding: 8px 15px;
    margin-bottom: 20px;
    list-style: none;
    background-color: #fff;
    border-radius: 4px;
}




@import url(http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css);
.col-item
{
    border: 1px solid #E1E1E1;
    border-radius: 5px;
    background: #FFF;
}
.col-item .photo img
{
    margin: 0 auto;
    width: 100%;
}

.col-item .info
{
    padding: 10px;
    border-radius: 0 0 5px 5px;
    margin-top: 1px;
}

.col-item:hover .info {
    background-color: #F5F5DC;
}
.col-item .price
{
    /*width: 50%;*/
    float: left;
    margin-top: 5px;
}

.col-item .price h5
{
    line-height: 20px;
    margin: 0;
}

.price-text-color
{
    color: #219FD1;
}

.col-item .info .rating
{
    color: #777;
}

.col-item .rating
{
    /*width: 50%;*/
    float: left;
    font-size: 17px;
    text-align: right;
    line-height: 52px;
    margin-bottom: 10px;
    height: 52px;
}

.col-item .separator
{
    border-top: 1px solid #E1E1E1;
}

.clear-left
{
    clear: left;
}

.col-item .separator p
{
    line-height: 20px;
    margin-bottom: 0;
    margin-top: 10px;
    text-align: center;
}

.col-item .separator p i
{
    margin-right: 5px;
}
.col-item .btn-add
{
    width: 50%;
    float: left;
}

.col-item .btn-add
{
    border-right: 1px solid #E1E1E1;
}

.col-item .btn-details
{
    width: 50%;
    float: left;
    padding-left: 10px;
}
.controls
{
    margin-top: 20px;
}

.colset{
    padding: 15px 15px 15px 15px;
    background-color: #f6fbfc;
    border-radius:10px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 25px;
}

.bottomhr{
    width: 80px;
    height: 3px;
    margin: 0 0 18px;
    border: 0;
    background-color: #e74c3c;
}
.list3{
    list-style-type: none;
    padding-left: 15px;
}

.list3 li{
    padding-bottom: 10px;
}

.list3 .spantext{
    color: #666;
    font-size: 16px;
}
  
.okstyle{
    padding-right: 10px;
    content: '\f00c';
    left: 0;
    top: 0;
    font-weight: bold;
    line-height: 26px;
    font-size: 16px;
}

.okstyleyesil{
    color: #5cb85c;
}

.okstylekirmizi{
    color: #e74c3c;
}

.btnsize{
    width: 100%;
}
.metrostyle {
    height: 100px;
    width: 130px;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px;
}

.metrostyle:hover {
    background-color: #5190d9;
}

.orgmetro {
    background-color: #603cba;
}

.metrostyle2 {
    height: 100px;
    width: 130px;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px;
}

.orgmetro2 {
    background-color: #008000;
}
.metrostyle2:hover {
    background-color: #66B266 ;
}

.metrostyle3 {
    height: 100px;
    width: 130px;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px;
}

.orgmetro3 {
    background-color: #ffa500 ;
}
.metrostyle3:hover {
    background-color: #ffc966 ;
}

.metrostyle4 {
    height: 100px;
    width: 130px;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px;
}

.orgmetro4 {
    background-color: #800080 ;
}
.metrostyle4:hover {
    background-color: #bf7fbf ;
}

.metrostyle5 {
    height: 100px;
    width: 130px;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px;
}

.orgmetro5 {
    background-color: #0000b2 ;
}
.metrostyle5:hover {
    background-color: #4c4cff ;
}

.metrostyle6 {
    height: 100px;
    width: 130px;
    float: left;
    margin: 0 5px 0 0;
    padding: 2px;
}

.orgmetro6 {
    background-color: #ff033d ;
}
.metrostyle6:hover {
    background-color: #ff678a ;
}