.panel-s {
  -moz-transition: all .3s ease;
  -o-transition: all .3s ease;
  -webkit-transition: all .3s ease;
}

.list-group-item:hover {
  box-shadow: 0px 0px 30px rgba(0, 0, 0, 0.2);
}

.panel-s .panel-heading {
  padding: 20px 10px;
}
.panel-s .panel-heading .fa {
  margin-top: 10px;
  font-size: 58px;
}
.panel-s .list-group-item {
  color: #777777;
  border-bottom: 1px solid rgba(250, 250, 250, 0.5);
}
.panel-s .list-group-item:last-child {
  border-bottom-right-radius: 0px;
  border-bottom-left-radius: 0px;
}
.panel-s .list-group-item:first-child {
  border-top-right-radius: 0px;
  border-top-left-radius: 0px;
}
.panel-s .panel-body {
  background-color: #f0f0f0;
  font-size: 40px;
  color: #777777;
  padding: 20px;
  margin: 0px;
}

.panel-s .list-group-item .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.panel-s .list-group-item .title2 {
	font-size: 12px;
}

.leftpos{
    padding-right: 30px;
}

.mr5 {
    margin-right: 5px;
}

.colorblue{
 color: #1b3a7d;    
}
