@import url(https://fonts.googleapis.com/css?family=Montserrat);

body {
  font-family: 'Noto Sans', sans-serif;
  min-height: 1000px;
  background: url(bg.png) no-repeat #f1f1f1;
  background-position: right bottom;

}

#ustbosluk {
    margin-top: 100px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Montserrat', sans-serif;
}

.navbar {
  border: none;
  background-color: #3b4348;
}

.navbar-fixed-top {
    height: 60px !important; 
}

.navbar-brand {
  font-weight: 600;
}

.navbar-brand,
.navbar-default .navbar-nav > li > a {
  font-family: 'Montserrat';
  color: white !important;

  &:hover {
    color: #bce8f1 !important;
  };
}

.avatar {
  border: 1px solid #e0e0e0;
  width: 50px;
  height: 50px;
}

.cover {
  width: 100%;
  height: 400px;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.activity {
  background: white;
  border: 1px solid #e0e0e0;
  border-radius: 3px;
  padding: 10px;
  margin: 10px;
}

.name {
  display: inline-block;
  font-size: 1.65rem;
  margin-left: 10px;
}

.action {
  font-size: 1.65rem;
  margin-left: 2px;
}

.created-at {
  color: #808080;
  font-size: 1.25rem;
  margin-top: 15px;
}

.btn {
  font-family: 'Montserrat', sans-serif;
  padding: 10px 20px;
}

.btn-primary {
  background-color: #005686;
}

.btn-sm {
  padding: 7px 15px;
  border: none;
}

div.editable {
  height: 65px;
  max-height: 65px;
  overflow-y: scroll;
}

div.editable,
input[type="email"],
input[type="password"],
input[type="text"],
textarea {
  box-shadow: none !important;
  border: 2px solid #ccc !important;

  &:focus {
    border: 2px solid #888 !important;
  };
}

[placeholder]:empty:before {
  content: attr(placeholder);
  color: #808080;
}

[placeholder]:empty:focus:before {
  content: "";
}

.alert-fixed {
  position: fixed;
  top: 0;
  left: 0;
  margin-left: 32%;
  margin-top: 30px;
  width: 450px;
  z-index: 10000;
  text-align: center;
  padding: 5px 25px;
}

.liked {
  color: #2a6496 !important;
}

.points span {
  padding: 5px;
  background-color: #eee;
  color: #808080;
  display: inline-block;
  font-size: 1.25rem;
  margin-top: 10px;
  margin-right: 10px;
}

.activity-event,
.activity-post,
.event,
.post {
  .actions {
    margin-top: 10px;
    padding-top: 10px;
    border-top: 1px solid #e0e0e0;

    a,
    button {
      font-family: 'Montserrat', sans-serif;
      background-color: #e0e0e0;
      color: #555;

      i {
        margin-right: 5px;
      }
    }
  }
}

#links,
#user-info {
  h5 {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 10px;
    margin: 0;
  }

  i {
    font-size: 1.75rem;
    margin-right: 20px;
  }
}

#movements {

  ul{
    height:250px; 
    width:100%;
    overflow:hidden; 
    overflow-y:scroll;
    padding-left: 0px;
  }

  h5 {
    border-bottom: 1px solid #e0e0e0;
    padding: 15px 10px;
    margin: 0;
  }


}

p {
  font-size: 1.65rem;
  line-height: 3rem;
}

.atwho-view .cur {
  background: #333333;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background: darken(#333333, 10%);
}

.dropdown-menu > li > a {
  padding: 10px 30px;
}


.back-to-top {
    cursor: pointer;
    position: fixed;
    bottom: 20px;
    right: 20px;
    display:none;
}
